/* folha de estilo principal */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(246,246,246);
}

.container-width {
    width: 85%;
}

.min-height {
    min-height: calc(100vh - 101px - 56px);
}

.container-background {
    background-color: rgb(255,255,255);
}

.badge {
    background-color: orange;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar-input {
    width: 100%;
}

#search-bar:focus {
    box-shadow: none !important;
}

/* Pagina inicial */
.jumbotron {
    background-color: #f8f9fa;
    padding: 80px 0;
    margin-bottom: 0;
}
.feature {
    text-align: center;
    margin-bottom: 40px;
  }
  .feature img {
    max-width: 100%;
    height: auto;
  }
  .feature h3 {
    margin-top: 20px;
  }

  .news {
    background-color: #f8f9fa;
    padding: 50px 20px;
  }
  .news h2 {
    margin-bottom: 30px;
  }
/* Produtos */
.product-card {
    background-color: rgb(255,255,255);
    margin-bottom: 20px;
}

.product-image {
    padding: 20px;
    transition-duration: 0.2s;
}

.product-image:hover{
    padding: 10px;
    cursor: pointer;
}

.product-name {
    overflow: hidden;
    min-height: calc(1.2em * 2); /* 2 lines with a line height of 1.2em */
    line-height: 1.2em; /* Adjust line height according to your design */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines before the ellipsis */
}

.product-description {
    overflow: hidden;
    min-height: calc(1.2em * 3); /* 2 lines with a line height of 1.2em */
    line-height: 1.2em; /* Adjust line height according to your design */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines before the ellipsis */
}

.product-availability {
    overflow: hidden;
    min-height: calc(1.2em * 1); /* 2 lines with a line height of 1.2em */
    line-height: 1.2em; /* Adjust line height according to your design */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Number of lines before the ellipsis */
}

.product-price {
    overflow: hidden;
    min-height: calc(1.2em * 1); /* 1 lines with a line height of 1.2em */
    line-height: 1.2em; /* Adjust line height according to your design */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Number of lines before the ellipsis */
}

.favorite-card-text {
    overflow: hidden;
    min-height: calc(1.2em * 2); /* 2 lines with a line height of 1.2em */
    line-height: 1.2em; /* Adjust line height according to your design */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines before the ellipsis */
}

.product-text {
    padding: 20px;
}

.container-width {
    width: 85%;
}

/* LOGIN/REGISTER */

#login {
    white-space: nowrap;
    width: 600px;
    height: 500px;
    overflow: hidden;
    transition-duration: 1s;
}

#register {
    white-space: nowrap;
    width: 0px;
    height: 500px;
    overflow: hidden;
    transition-duration: 1s;
}

.visibility-hidden {
    opacity: 0;
    pointer-events: none; 
}

#recovery {
    width: 500px;
}

/* MODAL */
.modal-content {
    border-radius: 0; /* Define as bordas como quadradas */
}


/* DETALHES PRODUTO */
.resize-hover {
    transition: transform 0.3s ease; /* Smooth transition */
}

.resize-hover:hover {
    transform: scale(1.2);
}